# GDP Data extraction and processing

Creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

In [1]:
#Installing Required PAckages:

#!pip install pandas numpy 
#!pip install lxml

In [2]:
#Importing libraries
import numpy as np
import pandas as pd

Use the following URL to extract the GDP info.

In [3]:
URL="https://web.archive.org/web/20250106130614/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

We require only the info from the table, so use pandas directly to get the table alone and the GDP table is at index 3 for which we will create a new DataFrame .

In [4]:
tables=pd.read_html(URL)
df=tables[3]

WE need only the county's name and its GDP in IMF. lets convert the column names to numerics so its easier to access.

In [5]:
df.columns=range(df.shape[1])

In [6]:
df=df[[0,1]]
# Country's name and GDP by IMF is at 0th and 1st index respectively.

In [7]:
df=df.iloc[1:11,:]
#Accessing only the top 10 countries

In [8]:
df.columns = ['Country','GDP (Million USD)']
#renaming the columns back to meaningful names

Modifying the GDP column of the DataFrame by converting the value available in Million USD to Billion USD. Using the round() method of Numpy library to round the value to 2 decimal places. Modifying the header of the DataFrame to GDP (Billion USD).

In [9]:
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

In [10]:
#Million to billion conversion 
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

In [11]:
#rounfing of the vales to 2 decimal places
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

In [12]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           30337.16
2            China           19534.89
3          Germany            4921.56
4            Japan            4389.33
5            India            4271.92
6   United Kingdom            3730.26
7           France            3283.43
8            Italy            2459.60
9           Canada            2330.31
10          Brazil            2307.16

In [13]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')

---