# GDP Data extraction and processing

Creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

In [20]:
#Installing Required PAckages:

!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: lxml in c:\users\ragav\appdata\local\programs\python\python313\lib\site-packages (6.0.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
#Importing libraries
import numpy as np
import pandas as pd

Use the following URL to extract the GDP info.

In [22]:
URL="https://web.archive.org/web/20250106130614/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

We require only the info from the table, so use pandas directly to get the table alone and the GDP table is at index 3 for which we will create a new DataFrame .

In [50]:
tables=pd.read_html(URL)
df=tables[3]

WE need only the county's name and its GDP in IMF. lets convert the column names to numerics so its easier to access.

In [51]:
df.columns=range(df.shape[1])

In [52]:
df=df[[0,1]]
# Country's name and GDP by IMF is at 0th and 1st index respectively.

In [53]:
df=df.iloc[1:11,:]
#Accessing only the top 10 countries

In [54]:
df.columns = ['Country','GDP (Million USD)']
#renaming the columns back to a meaningful names

Modifying the GDP column of the DataFrame by converting the value available in Million USD to Billion USD. Using the round() method of Numpy library to round the value to 2 decimal places. Modifying the header of the DataFrame to GDP (Billion USD).

In [60]:
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

In [61]:
#Million to billion conversion 
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

In [62]:
#rounfing of the vales to 2 decimal places
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

In [63]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States              30.34
2            China              19.53
3          Germany               4.92
4            Japan               4.39
5            India               4.27
6   United Kingdom               3.73
7           France               3.28
8            Italy               2.46
9           Canada               2.33
10          Brazil               2.31

In [59]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')

## END OF PROJECT